[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
libsass = "*"
flask-oauthlib = "*"
authlib = "*"
dotenv = "*"
flask-sqlalchemy = "*"
pytz = "*"
flasgger = "*"
parsedatetime = "*"
markdown = "*"
icalendar = "*"
cairosvg = "*"
"svg.py" = "*"
svgpathtools = "*"

[dev-packages]

[requires]
python_version = "3.12"
