{% extends "base.html" %}
{% from "events/macros/list.html" import list with context %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
{% if not stardust %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container my-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
<h1>Hello World!</h1>
<p class="lead">We run some events! Here are the upcoming ones:</p>
{{ list(events, True, True, False) }}
{% endblock %}