{% from "events/macros/pill.html" import pill with context %}

{% macro ordinal(day) %}
    {% set suffix = "th" %}
    {% if day not in [11,12,13] %}
        {% set suffix = {1:"st",2:"nd",3:"rd"}.get(day % 10, suffix) %}
    {% endif %}
    {{ day }}{{ suffix }}
{% endmacro %}

{% macro list(events, year_display, term_display, reverse) %}
    {% if reverse %}
        {% set events = events|reverse %}
    {% endif %}
    <div id="events">
        {% for year in events %}
            {% if year_display %}
                <h1 id="{{ year.year }}"><a href="{{ url_for('events_ui.view_list', year=year.year) }}" class="text-decoration-none link-light link-opacity-50-hover">{{ year.year }}</a></h1>
            {% endif %}
            {% for term in year.terms %}
                {% if term_display %}
                    <h2><a href="{{ url_for('events_ui.view_list', year=year.year, term=term.term) }}" class="text-decoration-none link-light link-opacity-50-hover">Term {{ term.term }}</a></h2>
                {% endif %}
                {% for week in term.weeks %}
                    <h3>
                        <a href="{{ url_for('events_ui.view_list', year=year.year, term=term.term, week=week.week) }}" class="fw-semibold text-decoration-none link-light link-opacity-50-hover">Week {{ week.week }}</a>
                        <span class="fs-5 text-muted">(w/c {{ ordinal(week.start_date.day) }} {{ week.start_date.strftime('%b') }})</span>
                    </h3>
                    {% for day in week.days %}
                        <h4 class="text-muted">{{ day.day }}</h4>
                        {% for event in day.events %}
                            {{ pill(event, False) }}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}