{% from "events/macros/pill.html" import pill with context %}
{% from "events/macros/filter.html" import filter, filterjs with context %}

{% macro ordinal(day) %}
    {% set suffix = "th" %}
    {% if day not in [11,12,13] %}
        {% set suffix = {1:"st",2:"nd",3:"rd"}.get(day % 10, suffix) %}
    {% endif %}
    {{ day }}{{ suffix }}
{% endmacro %}

{% macro list(events, year_display, term_display, reverse) %}
    {% if not current_week %}
        <div class="d-flex justify-content-start align-items-center gap-2 mb-3">
            {% if events|length > 1 %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Jump to Year
                    </button>
                    <ul class="dropdown-menu p-2" style="max-height: 20vh; overflow-y: auto; z-index: 1050;">
                        {% for year in events|reverse %}
                            <li><a class="dropdown-item" href="#{{ year.year }}">{{ year.year }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {{ filter() }}
        </div>
    {% endif %}

    {% if reverse %}
        {% set events = events|reverse %}
    {% endif %}
    <div id="events">
        {% for year in events %}
            {% if year_display %}
                <h1 id="{{ year.year }}" class="sticky-top bg-body">
                    <a href="{{ url_for('events_ui.view_list', year=year.year) }}" class="link-body-emphasis text-decoration-none">
                        {{ year.year }}/{{ (year.year + 1) % 100 }}
                    </a>
                </h1>
            {% endif %}
            {% for term in year.terms %}
                {% if term_display %}
                    <h2 class="sticky-top bg-body" style="top: {{ 3 if year_display else 0 }}rem;">
                        <a href="{{ url_for('events_ui.view_list', year=year.year, term=term.term) }}" class="link-body-emphasis text-decoration-none">
                            Term {{ term.term }}
                        </a>
                    </h2>
                {% endif %}
                {% for week in term.weeks %}
                    <h3>
                        <a href="{{ url_for('events_ui.view_list', year=year.year, term=term.term, week=week.week) }}" class="fw-semibold link-body-emphasis text-decoration-none">
                            Week {{ week.week }}
                        </a>
                        <span class="fs-5 text-muted">(w/c {{ ordinal(week.start_date.day) }} {{ week.start_date.strftime('%b') }})</span>
                    </h3>
                    {% for day in week.days %}
                        <h4 class="text-muted">{{ day.day }}</h4>
                        {% for event in day.events %}
                            {{ pill(event, False, False) }}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p class="text-muted">No events found :(</p>
            <p class="text-muted">Pls check back soon</p>
        {% endfor %}
    </div>

    {% if not current_week %}
        {{ filterjs() }}
    {% endif %}
{% endmacro %}