{% macro ordinal(day) %}
    {% set suffix = "th" %}
    {% if day not in ["11","12","13"] %}
        {% set suffix = {"1":"st","2":"nd","3":"rd"}.get(day[-1], suffix) %}
    {% endif %}
    {{ day }}{{ suffix }}
{% endmacro %}

{% macro pill(event, large, full_date) %}

{% if not large %}
<a 
    href="{{ url_for('events_ui.view', year=event.week.academic_year, term=event.week.term, week=event.week.week, slug=event.slug) }}" 
    class="text-decoration-none text-emphasis event"
    {% if event.colour %}
        data-event-colour="{{ event.colour }}"
    {% endif %}
    {% if event.tags %}
        data-event-tags="{{ event.tags|map(attribute='name')|join(', ') }}"
    {% endif %}
>
{% endif %}
    {% if event.colour in colours %}
        {% set colour = colours[event.colour] %}
    {% else %}
        {% set colour = event.colour %}
    {% endif %}
    <div class="card {% if not large %}mb-2 grow-05{% endif %}"
        {% if event.draft %}
            style="background-color: var(--bs-secondary-bg); border: calc(2 * var(--bs-border-width)) dashed {{colour}}80;"
        {% else %}
            style="background-color: {{colour}}80;"
        {% endif %}
    >
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                {% if large %}
                    <h1 class="card-title mb-0">
                {% else %}
                    <h5 class="h4 card-title mb-0 fw-semibold">
                {% endif %}
                        {% if event.icon %}
                            {% if event.icon.startswith('ph-') %}
                                <i class="ph-bold {{ event.icon }}"></i>
                            {% else %}
                                <div class="custom-icon icon-text" style="mask-image: url('{{ url_for('static', filename='icons/' + event.icon + '.svg') }}');"></div>
                            {% endif %}
                        {% endif %}
                        {{ event.name }}
                {% if large %}
                    </h1>
                {% else %}
                    </h5>
                {% endif %}

                {% if is_exec and large %}
                    <a href="{{ url_for('events_ui.edit', year=event.week.academic_year, term=event.week.term, week=event.week.week, slug=event.slug) }}" class="btn btn-secondary">
                        <i class="ph-bold ph-pencil-simple"></i> Edit
                    </a>
                {% endif %}
            </div>
            
            {% if event.tags and large %}
                <div class="mb-2">
                    {% for tag in event.tags %}
                        <span class="badge bg-secondary grow-10">
                            <a href="{{ url_for('events_ui.view_tag', tag=tag.name)}}" class="text-decoration-none text-white">
                                {{ tag.name }}
                            </a>
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
            <{% if large %}h3{% else %}p class="mb-0"{% endif %}>
                <i class="ph-bold ph-clock"></i>
                {% if not event.end_time %}
                    {{ event.start_time.strftime('%H:%M %A') }}
                {% else %}
                    {% if event.start_time.date() == event.end_time.date() %}
                        {{ event.start_time.strftime('%H:%M') }} - {{ event.end_time.strftime('%H:%M') }}
                    {% else %}
                        {{ event.start_time.strftime('%H:%M %A') }} - {{ event.end_time.strftime('%H:%M %A') }}
                    {% endif %}
                {% endif %}
                {% if full_date %}
                    {% if event.end_time %}
                        {{ ordinal(event.end_time.day) }} {{ event.start_time.strftime('%B %Y') }}
                    {% else %}
                        {{ ordinal(event.start_time.day) }} {{ event.start_time.strftime('%B %Y') }}
                    {% endif %}
                {% endif %}
            {% if large %}
            </h3>
            <h3>
            {% endif %}
                <i class="ph-bold ph-map-pin"></i>
                {% if event.location_url and large %}
                    <a href="{{ event.location_url }}" target="_blank">
                {% endif %}
                        {{ event.location }}
                {% if event.location_url and large %}
                    </a>
                {% endif %}
            </{% if large %}h3{% else %}p{% endif %}>
        </div>
    </div>
{% if not large %}
</a>
{% endif %}

{% endmacro %}