{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}
<h1>Create Event</h1>

<form method="{{ method }}" action="{{ url_for(action) }}">

    {% if error %}
        <div>{{error}}</div>
    {% endif %}

    <!-- base info -->
    <label for="name">Event Name</label>
    <input type="text" name="name" id="name" required>

    <label for="description">Event Description</label>
    <textarea name="description" id="description" required></textarea>

    <input type="checkbox" name="draft" id="draft">
    <label for="draft">Draft</label>

    <!-- location -->
    <label for="location">Event Location</label>
    <input type="text" name="location" id="location" required>

    <label for="location_url">Location URL</label>
    <input type="text" name="location_url" id="location_url">

    <!-- asthetic info -->
    <label for="icon">Event Icon</label>
    <input type="text" name="icon" id="icon">

    <label for="text_colour">Event Color</label>
    <!-- have text input match color input and vice versa -->
    <!-- pre-input of # -->
    <!-- dropdown of pre-made colours -->
    <input type="text" name="text_colour" id="text_colour">
    <input type="color" name="color_colour" id="color_colour">

    <!-- date and time -->
    <label for="start_time">Start Time</label>
    <input type="datetime-local" name="start_time" id="start_time" required>

    <label for="end_time">End Time</label>
    <input type="datetime-local" name="end_time" id="end_time">

    <label for="duration">Duration</label>
    <input type="text" name="duration" id="duration">

    <!-- tags -->
    <!-- badge and created tags? -->
    <label for="tags">Tags</label>
    <input type="text" name="tags" id="tags">

    <!-- submit -->
    <input type="submit" value="Create Event">
</form>

{% endblock %}