{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block header %}
<script src="{{ url_for('static', filename='js/event-management.js') }}"></script>
{% endblock %}

{% block content %}

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<script type="module">
    import Tags from "{{ url_for('static', filename='js/tags.min.js') }}";
    Tags.init();
</script>

<div class="container text-center my-4">
    <h1>{% if event %}Edit{% else %}Create{% endif %} Event</h1>
</div>

<div class="container y-4">
    <div class="y-4 border rounded p-4">
        <form 
            method="{{ method }}"
            action="{{ url_for(action, year=event.date.academic_year, term=event.date.term, week=event.date.week, slug=event.slug) if event else url_for(action) }}"
            class="row g-3 align-items-center needs-validation"
            novalidate>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger col-12">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- name -->
            <div class="form-floating col-md-6 offset-md-3">
                <input type="text" name="name" id="name" class="form-control" placeholder="Event Name" {% if event %}value="{{ event.name }}"{% endif %} required>
                <label for="name">Event Name</label>
                <div class="invalid-feedback">Please provide a name</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- description -->
            <div class="form-floating col-12">
                <textarea name="description" id="description" class="form-control" placeholder="Event Description" style="height: 10rem;" required>{% if event %}{{ event.description }}{% endif %}</textarea>
                <label for="description">Event Description (Markdown)</label>
                <div class="invalid-feedback">Please provide a description</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- location -->
            <!-- TODO: maybe update location url automatically? -->
            <!-- known issue with bootstrap (https://github.com/twbs/bootstrap/pull/34527#pullrequestreview-830171528) means form-floating needs to be a div when using input-groups -->
            <!-- github issue for tracking: https://github.com/twbs/bootstrap/issues/41575 -->
            <div class="col-md-6">
                <div class="input-group col-md-4">
                    <div class="input-group-text">
                        <i class="ph-bold ph-map-pin"></i>
                    </div>

                    <fieldset class="form-floating">
                        <input type="text" name="location" id="location" class="form-control last-border" placeholder="Event Location" {% if event %}value="{{ event.location }}"{% endif %} required>
                        <label for="location">Event Location</label>
                    </fieldset>
                    <div class="invalid-feedback">Please provide a location</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <!-- location url -->
            <!-- you'd think it would be better to merge these 2 for ui right? you would be right. the problem is bootstrap validation has a fun little hissy fit when validating input groups -->
            <!-- github issue for tracking: https://github.com/twbs/bootstrap/issues/41575 -->
            <div class="col-md-6">
                <div class="input-group col-md-4">
                    <div class="input-group-text">
                        <i class="ph-bold ph-link-simple"></i>
                    </div>
                    <fieldset class="form-floating">
                        <input type="text" name="location_url" id="location_url" class="form-control last-border" placeholder="https://example.com/" {% if event and event.location_url %}value="{{ event.location_url }}"{% endif %} pattern="https?://.+">
                        <label for="location_url">Location URL</label>
                    </fieldset>
                    <div class="invalid-feedback">Must be a URL</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <!-- draft -->
            <div class="col-md-4">
                <!-- same height calculation as form-floating to stay same size -->
                <div class="input-group has-validation" style="height: calc(3.5rem + var(--bs-border-width) * 2);">
                    <div class="input-group-text">
                        <input type="checkbox" name="draft" id="draft" class="form-check-input no-validate-checkbox" {% if event and event.draft %}checked{% endif %}>
                    </div>
                    <label for="draft" class="form-control d-flex align-items-center">Draft</label>
                </div>
                <!-- dummy spacer for aligning checkbox with every field -->
                <div class="valid-feedback invalid-feedback validation-spacer">&nbsp;</div>
            </div>

            <!-- icon -->
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="ph-bold ph-phosphor-logo" id="icon-preview"></i>
                        <div id="custom-icon-preview" class="d-none form-image"></div>
                    </div>
                    <fieldset class="form-floating">
                        <input 
                            type="text" 
                            name="icon" 
                            id="icon" 
                            class="form-control last-border" 
                            placeholder="ph-calendar" 
                            list="icon-list"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-title="Enter a <a href='https://phosphoricons.com/' target='_blank'>Phosphor Icon</a> name or a <a href='https://github.com/UWCS/fulcrum/tree/main/static/icons' target='_blank'>custom icon</a> (upload files here if you want)"
                            {% if event and event.icon %}value="{{ event.icon }}"{% endif %}
                        >
                        <label for="icon">Event Icon</label>
                        <datalist id="icon-list">
                            {% for icon in icons %}
                                <option value="{{ icon }}">
                            {% endfor %}
                        </datalist>
                    </fieldset>
                    <div class="invalid-feedback">Please provide a valid <a href="https://phosphoricons.com/" target="_blank">Phosphor Icon</a> name or one of: {{ ", ".join(icons) }}</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <!-- colour -->
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-text">
                        <input 
                            type="color"
                            name="color_colour"
                            id="color_colour"
                            class="form-control form-control-color no-validate no-validate-colour"
                            value="{% if event and event.colour %}{{ event.colour }}{% else %}#3A7DFF{% endif %}">
                    </div>
                    <div class="input-group-text">#</div>
                    <fieldset class="form-floating">
                        <input 
                            type="text"
                            name="text_colour"
                            id="text_colour"
                            class="form-control last-border"
                            placeholder="#000000"
                            list="colour-list"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            data-bs-title="Enter a hex colour code or a <a href='https://github.com/UWCS/fulcrum/blob/main/config.py' target='_blank'>predefined colour</a>"
                            {% if event and event.colour %}value="{{ event.colour }}"{% endif %}
                        >
                        <label for="text_colour">Event Colour</label>
                        <datalist id="colour-list">
                            {% for colour in colours %}
                                <option value="{{ colour }}">
                            {% endfor %}
                        </datalist>
                    </fieldset>
                    <div class="invalid-feedback">Please provide a valid hex color code or one of: {{ ", ".join(colours) }}</div>
                    <div class="valid-feedback">Looks good!</div>                  
                </div>
            </div>

            <!-- start -->
            <div class="form-floating col-md-4">
                <input type="datetime-local" name="start_time" id="start_time" class="form-control" {% if event %}value="{{ event.start_time.strftime('%Y-%m-%dT%H:%M') }}"{% endif %} required>
                <label for="start_time">Start Time</label>
                <div class="invalid-feedback">Please provide a start time</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- end -->
            <div class="form-floating col-md-4">
                <input type="datetime-local" name="end_time" id="end_time" class="form-control" {% if event and event.end_time %}value="{{ event.end_time.strftime('%Y-%m-%dT%H:%M') }}"{% endif %}>
                <label for="end_time">End Time</label>
                <div class="invalid-feedback">Endtime must be after start time and match the duration</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- duration -->
            <div class="form-floating col-md-4">
                <input type="text" name="duration" id="duration" class="form-control" pattern="\d{2}:(?:[01]\d|2[0-3]):[0-5]\d" placeholder="DD:HH:MM">
                <label for="duration">Duration (DD:HH:MM)</label>
                <div class="invalid-feedback">Please provide a duration in the format DD:HH:MM</div>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- tags -->
            <!-- tags from https://github.com/lekoala/bootstrap5-tags -->
            <div class="form-floating col-md-8 offset-md-2">
                <select class="form-select" id="tags" name="tags[]" multiple data-allow-new="true" data-allow-clear="true" data-separator=" |,|  " >
                    <option value="" disabled selected {% if not (event and event.tags) %}hidden{% endif %}>Select tags...</option>
                    {% for tag in tags %}
                        <option value="{{ tag }}" {% if event and (tag in event.tags | selectattr('name') | map(attribute='name') | list) %}selected="selected"{% endif %}>
                            {{ tag }}
                        </option>
                    {% endfor %}
                </select> 
                <label for="tags">Tags</label>
            </div>

            <!-- submit -->
            <div class="col-23 d-flex justify-content-center">
                <input type="submit" value="{% if event %}Edit{% else %}Create{% endif %} Event" class="btn btn-primary col-6 text-white">
            </div>
        </form>
    </div>
</div>

<!-- full dict of invisible colours -->
<div class="d-none" id="invisible-colours">
    {% for colour in colours %}
        <span>{{ colour }}:{{ colours[colour] }}</span>
    {% endfor %}
</div>

{% endblock %}