{% extends "base.html" %}
{% from "events/macros/list.html" import list %}

{% block title %}UWCS Events{% endblock %}

{% block content %}
<div class="container-lg mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item {% if not term %}active{% endif %}">
                {% if not term %}
                    {{ year }}
                {% else %}
                    <a href="{{ url_for('events_ui.view_list', year=year) }}">{{ year }}</a>
                {% endif %}
            </li>
            {% if term %}
                <li class="breadcrumb-item {% if not week %}active{% endif %}">
                    {% if not week %}
                        Term {{ term }}
                    {% else %}
                        <a href="{{ url_for('events_ui.view_list', year=year, term=term) }}">Term {{ term }}</a>
                    {% endif %}  
                </li>
            {% endif %}
            {% if week %}
                <li class="breadcrumb-item active">Week {{ week }}</li>
            {% endif %}
        </ol>
    </nav>
    {{ list(events) }}
</div>
{% endblock %}