{% extends "base.html" %}
{% from "events/macros/list.html" import list with context %}

{% block title %}
    {% if term %}
        Term {{ term }} 
    {% endif %}
    {% if week or week == 0 %}
        Week {{ week }} 
    {% endif %}
    {{ year }}
{% endblock %}
{% block description %}
    Events for 
    {% if term %}
        Term {{ term }} 
    {% endif %}
    {% if week or week == 0 %}
        Week {{ week }} 
    {% endif %}
    {{ year }}
{% endblock %}
{% block keywords %}
    Events, Talks, Academic
    {% if term %}
        , Term {{ term }}
    {% endif %}
    {% if week or week == 0 %}
        , Week {{ week }}
    {% endif %}
    , {{ year }}
{% endblock %}

{% block content %}
{% if not current_week %}
    {% set week_display = (week or week == 0) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item {% if not term %}active{% endif %}">
                {% if not term %}
                    {{ year }}
                {% else %}
                    <a href="{{ url_for('events_ui.view_list', year=year) }}">{{ year }}</a>
                {% endif %}
            </li>
            {% if term %}
                <li class="breadcrumb-item {% if not week %}active{% endif %}">
                    {% if not week_display %}
                        Term {{ term }}
                    {% else %}
                        <a href="{{ url_for('events_ui.view_list', year=year, term=term) }}">Term {{ term }}</a>
                    {% endif %}  
                </li>
            {% endif %}
            {% if week_display %}
                <li class="breadcrumb-item active">Week {{ week }}</li>
            {% endif %}
        </ol>
    </nav>
    {{ list(events, not term, not week_display, False) }}
{% else %}
    <div class="p-4 bg-body-secondary">
        {{ list(events, False, False, False) }}
    </div>
{% endif %}
{% endblock %}